body{ 
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

body p{
    margin-right: 45px;
}

.container{
    display: flex;
    align-items: flex-start;
    gap: 20px;


}
.container img{
    margin-left:auto;
    max-width: 40%;
    height: auto;
    padding: 20px;
    margin-top: 80px;
    margin-right: 60px;



}

.sobre{ 
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 20px;
    margin-top: 80px;
    margin-left: 90px;
}

.sobre h1{
    font-size: 2em;
    color: #333333;
}
